.theater {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.theater-screen {
  width: 800px;
  height: 405px;
  overflow: hidden;
  color: white;
  background: black;
  postion: relative;
  user-select: none;
  z-index: 1;
}

.theater-fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  animation: 1s linear both faceAnim 5.5s;
}

@keyframes faceAnim {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}

.theater-fade > p {
  font-size: 16px;
}

.black-bar {
  position: absolute;
  background: black;
  left: 0;
  right: 0;
  height: 30px;
}

.black-bar.top {
  top: 0;
}

.black-bar.bottom {
  bottom: 0;
}

.loading-font {
  margin-left: 30px;
  margin-top: 30px;
  font-family: Gulax;
}

.theater-controlls {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 10px;
}

.theater-controlls > span {
  opacity: 0.5;
  font-size: 12px;
}
