@font-face {
  font-family: "Gulax";
  src: local("Gulax-Regular"),
    url("src/assets/fonts/Gulax-Regular.otf") format("opentype");
}

:root {
  --main-borne: #FFFFFF;
  --secondary-borne: #8c8383;
}

.terminal {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: inline-flex;
  background: #1E1E1E;
}

.terminal-border-left {
  background-color: black;
  margin: 20px 10px 20px 20px;
  border-radius: 10px;
  width: 80%;
}

.terminal-border-right {
  margin: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-borne);
  font-family: "Gulax", Inter, Arial;
}

.terminal-right-title > h1 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 3rem;
}

.terminal-right-title > p {
  margin: 0;
  padding: 0;
  color: var(--secondary-borne);
}

.terminal-right-ticket {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.terminal-ticket-box {
  background: #D9D9D9;
  width: 204px;
  height: 12px;
  box-shadow: 0px 4px 3px 0px #00000082 inset;
}

.terminal-buttons-filter {
  display: inline-flex;
  margin-bottom: 50px;
}

.terminal-buttons-filter .button-filter {
  background-color: lightgray;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.terminal-buttons-filter .button-filter.active {
  background-color: rgb(129, 100, 100);
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.movie-cards {
  margin-bottom: 30px;
}

.movie-poster {
  /* background-color: lightgray; */
  width: 400px;
  /* margin-right: 30px; */
}

.movie-poster img {
  height: 500px;
  border-radius: 10px;
}

.movie-poster-image {
  position: relative;
}


.theater-chart {
  color: black;
}

.theater-chart .apexcharts-toolbar {
  display: none;
}
