.terminal {
  width: 100%;
  display: inline-flex;
}

.terminal-border-left {
  padding: 45px 45px;
  background-color: black;
  border-radius: 32px 0 0 32px;
  width: 75%;
}

.terminal-border-right {
  padding: 10px 15px;
  background-color: gray;
  border-radius: 0 32px 32px 0;
  width: 25%;
}

.terminal-buttons-filter {
  display: inline-flex;
  margin-bottom: 50px;
}

.terminal-buttons-filter .button-filter {
  background-color: lightgray;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.terminal-buttons-filter .button-filter.active {
  background-color: rgb(129, 100, 100);
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.movie-cards {
  margin-bottom: 30px;
}

.movie-poster {
  /* background-color: lightgray; */
  width: 400px;
  /* margin-right: 30px; */
}

.movie-poster img {
  width: 400px;
  height: 500px;
}

.theater-chart {
  color: black;
}

.theater-chart .apexcharts-toolbar {
  display: none;
}
