
.terminal {
  width: 100%;
  display: inline-flex;
}

.terminal-border-left {
  padding: 45px 45px;
  background-color: black;
  border-radius: 32px 0 0 32px;
  width: 75%;
}

.terminal-border-right {
  padding: 10px 15px;
  background-color: gray;
  border-radius: 0 32px 32px 0;
  width: 25%;
}

.terminal-buttons-filter {
  display: inline-flex;
  margin-bottom: 50px;
}

.terminal-buttons-filter .button-filter {
  background-color: lightgray;
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.terminal-buttons-filter .button-filter.active {
  background-color: rgb(129, 100, 100);
  margin-right: 20px;
  padding: 10px 15px;
  border-radius: 32px;
}

.movie-cards {
  display: grid;
  margin-bottom: 30px;

}

.movie-poster {
  background-color: lightgray;
  width: 150px;
  height: 200px;
  margin-right: 30px;
}

.movie-poster img {
  width: 150px;
  height: 200px;
}

.jauge-div {
  width: 100%;
  display: flex;
}

.jauge-ext {
  margin: auto;
  width: 180px;
  height: 300px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='24' ry='24' stroke='%23D03C3CFF' stroke-width='4' stroke-dasharray='23' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); 
  border-radius: 24px;
}

.jauge-int {
  border-radius: 24px;
  margin-top: 10px;
  width: 160px;
  height: 280px;
  position: absolute;
  background-color: #D03C3CFF;
  left: 50%;
  transform: translateX(-50%);
}

